{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 1 versions"]
            }
          }
        ],
        "stage-0",
        "react"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": false
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": ["external-helpers"]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": false
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": ["external-helpers", "transform-react-remove-prop-types"]
    }
  }
}
