aliases:
  - &working_directory ~/flopflip

  - &restore_yarn_cache
    name: Restoring cache
    keys:
      - v3-yarn-cache-{{ checksum "yarn.lock" }}
      - v3-yarn-cache

  - &save_yarn_cache
    name: Saving cache
    key: v3-yarn-cache-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn

  - &install
    name: Installing
    # Ignoring scripts (e.g. post-install) to gain more control
    # in the jobs to only e.g. build when explicitely needed.
    command: yarn install --pure-lockfile

  - &lint
    name: Linting
    command: yarn lint

  - &type_check
    name: Type checking
    command: yarn flow

  - &bundlesize
    name: Checking bundle sizes
    command: yarn test:sizes

  - &build
    name: Building
    command: yarn build

  - &unit_test
    name: Unit testing
    # Limiting the workers of Jest to 10
    # as the build otherwise dies due to resouce restrictions.
    command: yarn test:ci --maxWorkers=10

  - &unit_test_with_coverage
    name: Unit testing (with coverage report)
    command: yarn test:ci:coverage

node6Environment: &node6Environment
  docker:
    - image: circleci/node:6@sha256:b0ebf0c89e4c4fdaf21d4c0c6038a8b171a5425372de650060758ef71487db71
  working_directory: *working_directory
node8Environment: &node8Environment
  docker:
    - image: circleci/node:8@sha256:80e3c6e2a79b02188dc3017c8766f34cbb5e3f1f636d61c88d76694bcc07ff02
  working_directory: *working_directory

version: 2
jobs:
  lint:
    <<: *node8Environment
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: *install
      - save_cache: *save_yarn_cache
      - run: *build
      - run: *lint
  type_check:
    <<: *node8Environment
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: *install
      - run: *build
      - run: *type_check
  bundlesize_check:
    <<: *node8Environment
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: *install
      - run: *build
      - run: *bundlesize
  build_test_unit_node_6:
    <<: *node6Environment
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: *install
      - run: *build
      - run: *unit_test
  build_test_unit_node_8:
    <<: *node8Environment
    steps:
      - checkout
      - restore_cache: *restore_yarn_cache
      - run: *install
      - run: *build
      - run: *unit_test_with_coverage

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - type_check:
          requires:
            - lint
      - build_test_unit_node_6:
          requires:
            - type_check
      - build_test_unit_node_8:
          requires:
            - type_check
      - bundlesize_check:
          requires:
            - build_test_unit_node_6
            - build_test_unit_node_8
